body {
    font-family: 'Oswald';
    background-color: #e3e3e3;
    text-align: center;
}

header {
    background-color: #fafafa;
    padding: 5% 0 5% 0;
}

#work {
    background-color: #fafafa;
    padding: 5% 0 5% 0;
}

footer {
    background-color: pink;
    padding: 5% 0 5% 0;
}

#container {
    width: 90%;
    margin: auto;
    border: 1px solid #555555;
}

p {
    font-size: 1rem;
    font-family: 'Courgette';
}

#pink {
    font-family: 'Courgette';
    color: white;
    color: #555555;
}